<h1>Editing Venda Produto Material</h1>

<%= render 'form', venda_produto_material: @venda_produto_material %>

<%= link_to 'Show', @venda_produto_material %> |
<%= link_to 'Back', venda_produto_materials_path %>
