<h1>Marmoraria</h1>

<%= link_to 'Cliente', '/clientes' %></br>
<%= link_to 'Funcionario', '/funcionarios' %></br>
<%= link_to 'Fornecedor', '/fornecedors' %></br>
<%= link_to 'Material', '/materials' %></br>
