<h1>Marmoraria São João</h1>

<%= link_to 'Cliente', clientes_path %>
</br>
<%= link_to 'Funcionario', funcionarios_path %>
</br>
<%= link_to 'Fornecedor', fornecedors_path %>
</br>
<%= link_to 'Material', materials_path %>
